<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card rounded">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" (ngSubmit)="login()" [formGroup]="loginForm">
                    <a href="javascript:void(0)" class="text-center db"><img class="m-t-20" src="../assets/images/logo-text.png" alt="Home" /></a>
                    <div class="form-group m-t-40">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" placeholder="Email" formControlName="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" placeholder="Contraseña" formControlName="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0">
                                <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue" formControlName="remember">
                                <label for="checkbox-signup"> Recordarme </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Acceder</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center" id="google-btn">

                            <div id="customBtn" class="customGPlusSignIn">
                                <span class="icon"></span>
                                <span class="buttonText">Accede con Google</span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col text-danger">

                            <p *ngIf="campoNoValido('password')">* Introduzca su contraseña</p>
                            <p *ngIf="campoNoValido('email')">* El email es obligatorio y tiene que ser válido</p>

                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            ¿No tienes una cuenta? <a (click)="register()" class="text-primary m-l-5"><b>Regístrate</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->