<div class="fondo-modal-imagen animated fadeIn fast" [class.oculto]="modalImagenService.ocultarModal">
  <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Cargar imagen</h4>
          <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <h4>Seleccione imagen</h4>
          <div class="img-container text-center">
            @if (!imgTemp) {
              <img [src]="modalImagenService.img" class="img-avatar">
            }
            @if (imgTemp) {
              <img [src]="imgTemp" class="img-avatar">
            }
          </div>

          <input type="file" (change)="cambiarImagen($event)">
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button (click)="subirImagen()" type="button" class="btn btn-primary">Actualizar avatar</button>
        </div>
      </div>
    </div>
  </div>
</div>