<h3 class="box-title">Estadísticas</h3>
<hr class="m-t-0">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <h5 class="m-t-10">Partidos jugados<span class="pull-right"> {{partidosJugados}} </span></h5>
                <div class="progress">
                    <div class="progress-bar bg-info active progress-bar-striped" style="width: 40%; height:8px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
                </div>

                <h5 class="m-t-30">Goles<span class="pull-right"> {{goles}} </span></h5>
                <div class="progress">
                    <div class="progress-bar bg-info active progress-bar-striped" style="width: 40%; height:8px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
                </div>

                <h5 class="m-t-30">Asistencias<span class="pull-right"> {{asistencias}} </span></h5>
                <div class="progress">
                    <div class="progress-bar bg-info active progress-bar-striped" style="width: 40%; height:8px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
                </div>

                <h5 class="m-t-30">Tarjetas amarillas<span class="pull-right"> {{tarjetasAmarillas}} </span></h5>
                <div class="progress">
                    <div class="progress-bar bg-info active progress-bar-striped" style="width: 40%; height:8px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
                </div>

                <h5 class="m-t-30">Tarjetas rojas<span class="pull-right"> {{tarjetasRojas}} </span></h5>
                <div class="progress">
                    <div class="progress-bar bg-info active progress-bar-striped" style="width: 40%; height:8px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
                </div>

            </div>
        </div>
    </div>
</div>